* {
    padding: 2px;
    margin: 5px;
}

#top {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    /* position: fixed; */
    top: 0;
    /* border: 1px solid red; */


}

#top>h3 {
    height: 25px;
    margin: auto;
    background-color: rgb(75, 157, 228);
    font-size: 15px;
    text-align: center;
    color: rgb(42, 8, 8);
    padding-top: 12px;

}

#topnavbar>img {
    height: 60px;
    width: 100%;

}

#topnavbar {
    display: flex;
    text-align: center;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 10px;
    color: teal;
}

#topnavbar>input {
    width: 50%;
    height: 30px;
    font-size: 15px;
}



#links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    font-size: 30px;
    /* background-color: rgb(48, 51, 51); */
}


#links>a {
    font-size: 20px;
    color: rgb(100, 96, 96);
}

#parent {
    display: flex;
    width: 90%;
    margin: auto;

}

#container2 {
    /* display: block; */
    width: 20%;
    margin: auto;
    margin-top: -250px;
    position: absolute;

    position: fixed;

}

#category {
    margin-top: 200px;
}

#category>ul {
    /* display: block; */
    color: rgb(112, 78, 78);
    ;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 75px;
    padding: 0 15px;
    margin: auto;
    list-style: none;
    position: relative;
    float: left;

}

#category>ul>li>ul {
    position: relative;
    float: inline-start;
    line-height: 30px;
    list-style: none;
    color: rgb(209, 169, 169);
}

#category ul li.current-menu-item {
    background: rgb(160, 28, 28);

}

#category ul li:hover {
    /* background:#f3e2e2; */
    /* border-radius: 100px; */
    text-decoration: underline;

}

#category ul ul {
    display: none;
    /* position:absolute; */
    top: 100%;
    left: 0;
    background: rgb(255, 251, 251);
    padding: 0
}

#category ul ul li {
    float: left;
    width: 200px
}

#category ul ul a {
    line-height: 120%;
    padding: 10px 15px
}

#category ul ul ul {
    top: 0;
    left: 100%
}

#category ul li:hover>ul {
    display: block;
    text-decoration: underline;

}


#container {
    display: grid;
    width: 90%;
    margin-left: 240px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    justify-content: space-between;
    /* background-color:rgb(174, 174, 174); */

}


#container>div {
    margin-top: 70px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px 20px;
    /* box-shadow: rgba(30, 2, 2, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(7, 0, 5, 0.4) 5px 5px, rgba(17, 0, 11, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#container>div>img:hover {
    height: 220px
        /* width: 20%; */
        /* margin-top: 70px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

#container>div>img {
    height: 200px;
    margin-top: 20px;
}

button {
    height: 30px;
    background-color: white;
    color: #379AB9;
    /* border: none; */
    font-size: 11px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #379AB9;
    border-radius: 10px;
    margin-bottom: 20px;
}

button:hover {
    height: 30px;
    background-color: #379AB9;
    color: white;

    font-size: 11px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #379AB9;
    border-radius: 10px;
    margin-bottom: 20px;
}

h5 {
    font-size: 13px;
    color: rgb(66, 64, 64);
}

h5:hover {
    font-size: 15px;
    color: rgb(66, 64, 64);
}

p {
    font-size: 12px;
    color: rgb(0, 0, 0);

}

p:hover {
    font-size: 15px;
    color: rgb(75, 28, 28);
}